<?xml version="1.0" encoding="utf-8" ?>
        <configuration>
            <appSettings>
                <add key="DataSource" value="193.85.203.188"/>
                <add key="Database" value="hofman3"/>
                <add key="Name" value="hofman3"/>
                <add key="Password" value="r423N22T"/>
            </appSettings>
        </configuration>
